<!DOCTYPE html>
<html ng-app="mainApp">
<head>
    <title>packandpack</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body ng-controller="appController" class="container-fluid" >
    <h1 class="text-center">{{title}}</h1>
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <form name="form" ng-submit="form.$valid && update(user)">
                    <h2 class="text-center">Iniciar sesión</h2>
                    <section class="row">
                        <div class="col-3 offset-md-2">
                            <div class="form-group">
                                <input type="email" ng-model="user.email" class="form-control" id="correo" placeholder="Correo" required="">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <input type="password" ng-model="user.password" class="form-control" id="exampleInputEmail1" placeholder="Contraseña">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Ingresar</button>
                            </div>
                        </div>
                    </section>
                </form>
            </div>
        </div>

    </div>

    <!--div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <form name="form" ng-submit="form.$valid && update2(user2)">
                    <h2 class="text-center">Registrar usuario</h2>
                    <section class="row">
                        <div class="col-3 offset-md-2">
                            <div class="form-group">
                                <input type="text" ng-model="user2.name" class="form-control" id="name" placeholder="Nombre completo" required="">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <input type="email" ng-model="user2.correo" class="form-control" id="correo2" placeholder="Correo">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <input type="password" ng-model="user2.password" class="form-control" id="contra" placeholder="Contraseña">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <input type="number" minlength="10" ng-model="user2.telefono" class="form-control" id="telefono" placeholder="Telefono">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <input type="number" ng-model="user2.edad" class="form-control" id="edad" placeholder="Edad">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <select class="custom-select" id="genero">
                                    <option selected>Selecciona un genero</option>
                                    <option value="user2.F">Femenino</option>
                                    <option value="user2.M">Masculino</option>
                                  </select>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <input type="text" ng-model="user2.hobby" class="form-control" id="hooby" placeholder="Pasatiempo">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Registrar</button>
                            </div>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div-->
</body>

</html>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>